#root {
  font-size: 24px;
}

.button-group {
  display: flex;
  gap: 8px;
  padding: 8px;
}

button {
  background: whitesmoke;
  color: grey;
  cursor: pointer;
  border: 0;
  flex: 1;
  border-radius: 10px;
  padding: 8px;
}

button:hover {
  background: lightgrey;
}

input {
  display: inline-block;
  border-width: 1px;
  margin-left: 4px;
  border-style: solid;
  border-radius: 8px;
  border-color: grey;
  width: 140px;
  padding: 4px;
}

.memory-view {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;
  border-right: 4px solid #000;
  padding: 8px;
}

.sidebar-class {
  font-size: 14px;
  border: 1px solid #000;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: grab;
  user-select: none;
}

.sidebar-variable {
  font-size: 14px;
  border: 1px solid #000;
  background: #9fe2bf;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: grab;
  user-select: none;
}

.sidebar-method-call {
  font-size: 14px;
  border: 1px solid #000;
  background: #faffba;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: grab;
  user-select: none;
}

.react-flow__edge-path {
  opacity: 0.4;
}

.react-flow__edge.active .react-flow__edge-path {
  opacity: 1;
}

.react-flow__node-method-call.active,
.react-flow__node-object.active {
  opacity: 1;
}

.react-flow__node-method-call,
.react-flow__node-object {
  font-size: 12px;
  background: #f5f5f6;
  opacity: 0.4;
  color: #222;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 15%),
    0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 8px;
}

.react-flow__node-method-call {
  background: #faffba;
  border-radius: 0px;
}

.react-flow__node-method-call .react-flow__handle,
.react-flow__node-variable .react-flow__handle,
.react-flow__node-object .react-flow__handle {
  position: unset;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #778899;
}

.react-flow__node-object .react-flow__handle-left {
  transform: translate(-8px, 0);
}
.react-flow__node-method-call .react-flow__handle-right,
.react-flow__node-object .react-flow__handle-right {
  transform: translate(8px, 0);
}

.react-flow__node-variable .react-flow__handle-right {
  transform: translate(8px, 0);
}

.variable-node {
  display: flex;
  align-items: center;
  font-size: 10px;
  background: #9fe2bf;
  color: #222;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 15%),
    0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 8px;
  padding: 10px;
}

.variable-node__name {
  font-size: 14px;
}

.method-call-node__delete {
  flex: unset;
  padding-top: 0;
  padding-bottom: 0;
}

.method-call-node__variable {
  padding-bottom: 8px;
  border-bottom: 1px solid #e2e8f0;
}

.method-call-node__variable,
.object-node__attribute {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.method-call-node__variable-name,
.object-node__attribute-name {
  flex: 1;
  text-align: right;
}

.method-call-node__header,
.object-node__header {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.object-node__header.gc {
  background: #ff9c9c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 0.7;
}

.button-gc {
  color: #000;
  background: #ff9c9c;
}

.object-node__body.gc {
  background: #ff9c9c;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 0.7;
}

.method-call-node__name,
.object-node__name {
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.method-call-node__body,
.object-node__body {
  padding: 10px;
}

.spacer-10 {
  width: 10px;
}

path.react-flow__edge-path {
  stroke-width: 4;
}

path.react-flow__edge-path:hover {
  stroke-width: 10;
}

.cm-editor {
  font-size: 12px;
}
